<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>The Aural Card | Dashboard </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
		<script src="https://kit.fontawesome.com/cf30b19bdf.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<img src="{{ url_for('static', filename='images/redbubbles.svg') }}" class="background-bubbles">
		<main>
			<!-- Left sidebar-->
			<section class="left-sidebar">
				<div class="left-sidebar-gist">
					<div class="logo-wrapper">
						<img class="logo" src="{{ url_for('static', filename='images/logo.png') }}"/>
					</div>

					<ul class="left-sidebar-nav">
						<li><a href="/nowhere"><i class="fas fa-microphone-alt"></i> My Voice Commands</a></li>
						<li><a href="/nowhere"><i class="fas fa-credit-card"></i> Create Voice Card</a></li>
						<li><a href="/nowhere"><i class="fas fa-list-ul"></i> Last Voice Transactions</a></li>
						<li><a href="/nowhere"><i class="fas fa-plus-circle"></i> Create Voice Command</a></li>
						<li><a href="/nowhere"><i class="fas fa-phone-volume"></i> Personalize Voice Commands</a></li>
						<li><a href="/nowhere"><i class="fas fa-user-circle"></i> Open Additional Account</a></li>
					</ul>
				</div>

				<footer class="left-sidebar-footer">
					<ul>
						<li class="left-sidebar-footer-first"><a href="/nowhere">The Aural Card, Inc &trade;</a></li>
						<li><a href="/nowhere"><i class="far fa-address-book ls-icons"></i> Contact</a></li>
						<li><a href="/nowhere"><i class="fas fa-question-circle ls-icons"></i> The Aural Card Support</a></li>
						<li><a href="/nowhere"><i class="fas fa-video ls-icons"></i> Press</a></li>
					</ul>
				</footer>
			</section>

			<section class="main-content">

				<!-- Header of main content (top navbar) -->
				<header class="main-content-header">
					<div class="main-content-header-gist">

						<div class="user-area">
							<img src="{{ url_for('static', filename='images/user.png') }}" class="user-profile-image" />
							<div>
								<p class="user-text-one">Nate Wilk</p>
								<p class="user-text-two">Software Engineer</p>
							</div>
						</div>
						<input type="text" class="top-input"/>
						<button class="search-btn">Search</button>
					</div>

					<ul class="nav">
						<li><a href="/nowhere"><i class="fas fa-user-circle"></i> Voice Accounts</a></li>
						<li><a href="/nowhere"><i class="fas fa-cart-plus"></i> Voice Cards</a></li>
						<li><a href="/nowhere"><i class="fas fa-file-code"></i> Development</a></li>
					</ul>
				</header>

				<!-- Main content under top navbar -->
				<section class="content-wrapper">

					<div class="content-wrapper-gist">
						<div class="content-one">
							<header>
								<p class="header-txt-one">Balance</p>
								<p class="header-txt-two">Checking account</p>
							</header>
							<p class="balance-value"><span class="dollar-sign">$</span> <span id='moeny'>40,135.89</span></p>
							<div class="content-one-gist">
								<header>
									<p class="header-txt-one">Last transactions</p>
								</header>
								<ul>
									<li>
										<div id='hiddent2' style="display:none">
											<div class="transaction-item">
												<div class="transaction-item-gist">
													<img src="{{ url_for('static', filename='images/john.png') }}" class="ti-icon">
													<div class="transaction-item-gist-text">
														<p class="transaction-item-text-one">Transfer to Dave</p>
														<p class="transaction-item-text-two">Transfer</p>
													</div>
												</div>
												<p class="transaction-item-price">$40.00</p>
											</div>
										</div>
										<div id='hiddent' style="display:none">
											<div class="transaction-item">
												<div class="transaction-item-gist">
													<img src="{{ url_for('static', filename='images/user.png') }}" class="ti-icon">
													<div class="transaction-item-gist-text">
														<p class="transaction-item-text-one">Personal Withdraw</p>
														<p class="transaction-item-text-two">Withdraw</p>
													</div>
												</div>
												<p class="transaction-item-price">$20.00</p>
											</div>
										</div>

										<div class="transaction-item">
											<div class="transaction-item-gist">
												<img src="{{ url_for('static', filename='images/netflix_logo.png') }}" class="ti-icon">
												<div class="transaction-item-gist-text">
													<p class="transaction-item-text-one">Netflix Inc.</p>
													<p class="transaction-item-text-two">Monthly subscription</p>
												</div>
											</div>
											<p class="transaction-item-price">$15.99</p>
										</div>
										<div class="transaction-item">
											<div class="transaction-item-gist">
												<img src="{{ url_for('static', filename='images/john.png') }}" class="ti-icon">
												<div class="transaction-item-gist-text">
													<p class="transaction-item-text-one">Johnny Blake</p>
													<p class="transaction-item-text-two">Orlando, FL</p>
												</div>
											</div>
											<p class="transaction-item-price">$150.00</p>
										</div>
										<div class="transaction-item">
											<div class="transaction-item-gist">
												<img src="{{ url_for('static', filename='images/spotify_logo.png') }}" class="ti-icon">
												<div class="transaction-item-gist-text">
													<p class="transaction-item-text-one">Netflix Inc.</p>
													<p class="transaction-item-text-two">Monthly subscription</p>
												</div>
											</div>
											<p class="transaction-item-price">$9.99</p>
										</div>
										<div class="transaction-item">
											<div class="transaction-item-gist">
												<img src="{{ url_for('static', filename='images/mary.png') }}" class="ti-icon">
												<div class="transaction-item-gist-text">
													<p class="transaction-item-text-one">Alyssa Davidson</p>
													<p class="transaction-item-text-two">Recurring payments</p>
												</div>
											</div>
											<p class="transaction-item-price">$2,800.10</p>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="content-two">
							<header>
								<p class="header-txt-one">Voice Commands</p>
								<p class="header-txt-two">Here, you can perform bank transactions using voice commands</p>
							</header>
							<div class="content-two-gist">
								<button class="audio-btn">
									<span>Talk</span>
								</button>
							</div>
							<img src="{{ url_for('static', filename='images/cardbrowser.png') }}" class="card" />
						</div>
					</div>

					<div class="content-three">

						<div class="content-three-gist">
							<button class="black-btn">See credit card</button>
							<button class="black-btn">Open wallet</button>
						</div>
					</div>

				</section>
			</section>
		</main>
		<script>
		withdraw_h = document.getElementById("hiddent");
		transfers = document.getElementById("hiddent2");

		money = document.getElementById("moeny")

		var recognition = new webkitSpeechRecognition();
		let amt = 40135.89;
			// Audio animation.
			const audioBtn = document.querySelector(".audio-btn");
			let buttonActivated = false;
			let intervalId = null;
			let start = false;

			const synth = window.speechSynthesis;

			recognition.onresult = function(event) {
				console.log(event.results[0][0].transcript)
				word = event.results[0][0].transcript.split(" ")

				if(word[0] == "withdraw"){
					withdraw_h.style.display = "block";
					money.innerHTML = "40,115.89";
					const utter = new SpeechSynthesisUtterance("We have withdrawn 20 dollars from your account!");
					synth.speak(utter) //TTS
				}
				if(word[0] == "deposit"){
					money.innerHTML = "40,145.89";
					const utter = new SpeechSynthesisUtterance("We deposited 30 dollars in your account!");
					synth.speak(utter) //TTS
				}
				if(word[0] == "transfer"){
					transfers.style.display = "block";
					money.innerHTML = "40,105.89";
					const utter = new SpeechSynthesisUtterance("We transfered 40 dollars from your account to Dave!");
					synth.speak(utter) //TTS
				}


				buttonActivated = false;
				audioBtn.querySelector("span").innerHTML = "Talk";
				clearInterval(intervalId);
				audioBtn.classList.remove("expand");
				start = false;
				// start = false;
			}

			audioBtn.addEventListener("click", () => {

				if (!buttonActivated) {
					intervalId = setInterval(() => {
						audioBtn.querySelector("span").innerHTML = "Stop";
						audioBtn.classList.toggle("expand");
						if(!start){
							recognition.start();
							start = true;
						}

						buttonActivated = true;
					}, 500);
				}

				if (buttonActivated) {
					buttonActivated = false;
					audioBtn.querySelector("span").innerHTML = "Talk";
					clearInterval(intervalId);
					audioBtn.classList.remove("expand");
				}
			});

		</script>
	</body>
</html>
